@font-face {
    font-family: AutodeskFont;
    src: url(WOFF/ArtifaktElementExtraLight.woff);
}

html, body {
    margin: 0;
    padding: 0;
    height: 110%;
    border: none;
}

#chat-enlarged-body {
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: AutodeskFont;
}

#chat-top, .history-top {
    height: 40px;
    background-color: #808080;
    flex-shrink: 0; /* Prevents shrinking */
    justify-content: space-between;
    align-items: center;
}

#chat-top {
    margin: 30px 30px 0 30px; /* Space around top, right, and left */
}

.history-top {
    margin: 30px 15% 0 15%;
}

#chat-top a, .history-top a{
    color: white;
}

#chat {
    flex-grow: 1; /* Takes up available space */
    overflow-y: auto;
    background-color: #E6E6E6;
    padding: 5px;
    margin: 0 30px 0 30px; /* Space around right, and left *//
}

#input-container {
    display: flex;
    background-color: white;
    padding: 10px;
    flex-shrink: 0; /* Prevent it from shrinking */
    align-items: center;
    background-color: white;
    padding: 5px;
}

#message_sender {
    display: flex;
    background-color: white;
    align-items: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; 
    border-top: 1px solid #ccc;   
  }

#input {
    flex-grow: 1;
    height: 30px;
    padding: 5px;
    border-color: #808080;
    border-radius: 3px;
}

#send {
    height: 34px;
    width: 60px;
    background-color: #414BB2;
    color: white;
    border: none;
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 20px;
    cursor: pointer;
}

#send:hover {
    background-color: #3740a1;
}

.received-msg {
    display: flex;
    flex-direction: column; /* Stack messages and image */
    align-items: flex-start; /* Align everything to the left */
    width: 57%;
    margin: 10px 20px;
}

.received-chats {
    display: flex;
    flex-direction: column; /* Stack messages above image */
    align-items: flex-start;
    width: auto; 
    max-width: 70%;
}

.received-msg-inbox p {
    background: #414BB2;
    color: white;
    font-family: AutodeskFont;
    border-radius: 10px;
    font-size: 14px;
    padding: 10px;
    width: 100%;
    margin-bottom: 5px; /* Space between message and image */
}

.received-time {
    color: #777;
    font-size: 12px;
    margin-left: 10px;
}

.received-chats-img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}







.outgoing-msg {
    display: flex;
    justify-content: flex-end; /* Align messages to the right */
    width: 100%;
}

.outgoing-chats {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px 40px 10px 20px; 
}

.outgoing-chats-msg p {
    background-color: #808080;
    color: #fff;
    font-family: AutodeskFont;
    border-radius: 10px;
    font-size: 14px;
    padding: 10px;
    width: 100%;
    margin-bottom: 5px; /* Adds spacing between multi-messages */
}


.outgoing-chats-img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-top: 5px; /* Adds some space between message and image */
}

.outgoing-time {
    color: #777;
    display: block;
    font-size: 12px;
    margin: 0 0 0 20px;
    text-align: right;
}


#chat-enlarged-footer {
    height: 25px; /* Adjust as needed */
    flex-shrink: 0; /* Prevents shrinking */
}

.chatNav {
    background-color: #166AFA;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 3px 0px 2px #141417;
    margin-bottom: 5%;
  }
  
  .chatNav button, #chat-top button, .history-top button{
    padding: 10px;
  }
  
  .chatNav a {
    color: white;
    text-decoration: none;
  }

  #active, .chatNav button:hover, #button:hover {
    background-color: #000000;
    opacity: 0.2;
    color: white;
  }
  
  .menuButton, .previousChat button{
    background: none;
    border: none;
    cursor: pointer;
  }

  .previousChat img{
    max-width: 30%;
    float: left;  
    margin-right: 10%;
  }

    .chatImage {
        max-width: 65px;
    }

    .userImage {
        max-width: 45px;  
    }

  .text{
    text-align: left;
    margin-left: 0;
  }
  .previousChat button:hover {
    background-color: #ecebed;
  }

  #enlargedHistory {
    max-width: 20%;
  }

  .chatHistory {
    margin-left: 15%;
    margin-right: 15%;
  }
