@font-face {
  font-family: AutodeskFont;
  src: url(WOFF/ArtifaktElementExtraLight.woff);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: AutodeskFont;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section
{
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  background-color: #414BB2;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-shadow: 3px 0px 5px #141417;
}

.navbar img {
  max-height: 18px;
  padding-left: 15px;
  padding-right: 15px;
}

.menuButton {
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  min-height: 86vh;
  width: 15%;
  display: none;
  flex-direction: column;
  background: #F0EFEF;
  box-shadow: 3px 0px 5px #ceced2;
}

.dropdown.active {
  display: flex;
}

.dropdown li {
  padding: 15px;
  background: #F0EFEF;
  cursor: pointer;
}

.dropdown li:hover {
  background: #e1e1e6;
}

.dropdown li a {
  color: black;
}

.dropdown li:last-child {
  margin-top: 252px;
}

.navbar a.active { 
  background: #414BB2;
  color: white;
}

.title
{
  font-size: 3rem;
  margin: 2rem 0;
}

.FAQ
{
  max-width: 700px;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}

.question
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(45, 45, 46);
  color: white;
  padding: 10px;
  box-shadow: 2px 2px 3px #141417;
}

.question h3
{
  font-size: 1.8rem;
}

.answer
{
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}

.answer p
{
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.4rem;
}

.FAQ.active .answer
{
  max-height: 300px;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 12px;
}

.footer a {
  color: white;
  margin: 0 10px;
}

/* ExistingProjectPage CSS Portion */

.ExistingProjectPage-Center {
  text-align: center;
  background-color: #141417;
  width: 1000px;
  height: 400px;
  padding: 20px;
  margin: 100px;
  margin-top: 100px;
  margin-right:100;
  box-shadow: 2px 2px 3px #141417;
}

.ExistingProjectPage-Image {
  float:left;
  margin: 10px;
  min-width:400px;
  height:400px;
  box-shadow: 2px 2px 3px #141417;
}

.ExistingProjectPage-RightContainer {
  float:right;
  background-color: grey;
  width:550px;
  height:380px;
  margin-right:20px;
  margin-top:10px;
  box-shadow: 2px 2px 3px #141417;
}

.ExistingProjectPage-Name {
  float:right;
  background-color: #F0EFEF;
  width:430px;
  height:45px;
  margin-right:30px;
  margin-top:30px;
  color: black;
  background-color: #F0EFEF;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 3px #141417; 
  border: none;
}

.ExistingProjectPage-Description {
  float:left;
  width:205px;
  height:100px;
  margin-top:20px;
  margin-left:30px;
  color: #141417;
  background-color: #F0EFEF;
  padding: 5px 15px;
  text-align: left;
  text-decoration: none;
  font-size: 6px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 2px #141417; 
  border: none;
}

.ExistingProjectPage-Scroll {
  float:right;
  width:205px;
  height:160px;
  margin-top:20px;
  margin-right:30px;
  line-height:1em;
  overflow:auto;
  color: #141417;
  background-color: #F0EFEF;
  padding: 5px 15px;
  text-align: left;
  text-decoration: none;
  font-size: 10px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 2px #141417; 
  border: none;
}

.ExistingProjectPage-Generate-report {
  float:left;
  margin-top:20px;
  margin-left:30px;
  color: #141417;
  background-color: #F0EFEF;
  padding: 10px 65px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 3px #141417; 
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
}

.ExistingProjectPage-Generate-report:hover {
  background-color: #414BB2;
  color: white;
}


.ExistingProjectPage-ButtonContainer {
  float:right;
  display: flex;
}

.ExistingProjectPage-Button {
  float:right;
  display: flex;
  margin-top:20px;
  margin-right:30px;
  color: #141417;
  background-color: #F0EFEF;
  padding: 10px 55px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 3px #141417; 
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
}

.ExistingProjectPage-Button:hover {
  background-color: #414BB2;
  color: white;
}

/* CreateNewChat CSS Portion */

#create_new_leftdiv{
  float:left;
  width:50%;
}

#create_ChatboxChoice{
  float:left;
  width:450px;
  height:400px;
  margin-top:100px;
  margin-left:140px;
  color: black;
  background-color: #141417;
  padding: 10px 15px;
  text-align: left;
  text-decoration: none;
  font-size: 6px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 2px #141417; 
  border: none;
}

#CreateNewChat-Title {
  float:left;
  background-color: lightgray;
  width:300px;
  height:30px;
  margin-left:45px;
  margin-top:30px;
  color: black;
  background-color: lightgray;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 3px #141417; 
  border: none;
}

#checkbox {
  float:left;
  margin-top:70px;
  margin-left:30px;
  color: black;
  background-color: lightgray;
  padding: 10px 65px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 3px #141417; 
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
}



#create_new_rightdiv{
  float:right;
  width:50%;
}

  #createnew_ChatboxDescription{
  float:right;
  width:450px;
  height:400px;
  margin-top:100px;
  margin-right:140px;
  color: black;
  background-color: #141417;
  padding: 10px 15px;
  text-align: left;
  text-decoration: none;
  font-size: 6px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 2px #141417; 
  border: none;
}

#CN_c_input {
  float:right;
  background-color: lightgray;
  width:300px;
  height:45px;
  margin-top:20px;
  margin-right:60px;
  color: black;
  background-color: lightgray;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 3px #141417; 
  border: none;
}

#CN_d_input { /*Need to make text description go to top left not just left-->*/
  float:right;
  width:300px;
  height:200px;
  margin-top:20px;
  margin-right:60px;
  color: black;
  background-color: lightgray;
  padding: 5px 15px;
  text-align: left;
  text-decoration: none;
  font-size: 13px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 2px #141417; 
  border: none; 
}

#CreateNewChat_Done_button {
  float:right;
  display: flex;
  margin-top:20px;
  margin-right:60px;
  color: black;
  background-color: lightgray;
  padding: 10px 148px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 3px #141417; 
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
}

#CreateNewChat_Done_button:hover {
  background-color: #414BB2;
  color: white;
}

#choose_project{
  float:right;
  width:450px;
  height:400px;
  margin-top:100px;
  margin-right:150px;
  color: black;
  background-color: #141417;
  padding: 10px 15px;
  text-align: left;
  text-decoration: none;
  font-size: 6px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 2px #141417; 
  border: none;
}

#CP_c_input {
  float:right;
  background-color: lightgray;
  width:360px;
  height:45px;
  margin-top:25px;
  margin-right:30px;
  color: black;
  background-color: lightgray;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 3px #141417; 
  border: none;
}

#CP_d_input { 
  float:left;
  width:150px;
  height:200px;
  margin-top:20px;
  margin-left:30px;
  color: black;
  background-color: lightgray;
  padding: 5px 15px;
  text-align: left;
  text-decoration: none;
  font-size: 13px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 2px #141417; 
  border: none; 
}

#PreviousProjects_scroll {
  float:right;
  width: 150px;
  height:200px;
  margin-top:20px;
  margin-right:30px;
  line-height:1em;
  overflow:auto;
  color: black;
  background-color: lightgray;
  padding: 5px 15px;
  text-align: left;
  text-decoration: none;
  font-size: 10px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 2px #141417; 
  border: none;
}

#ChooseProject_Done_button {
  float:right;
  display: flex;
  margin-top:20px;
  margin-right:30px;
  color: black;
  background-color: lightgray;
  padding: 10px 178px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 3px #141417; 
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
}

#CreateNewChat_Done_button:hover {
  background-color: #414BB2;
  color: white;
}