@font-face {
  font-family: AutodeskFont;
  src: url(WOFF/ArtifaktElementExtraLight.woff);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: AutodeskFont;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section
{
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  background-color: #414BB2;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-shadow: 3px 0px 5px #141417;
}

.navbar img {
  max-height: 18px;
  padding-left: 15px;
  padding-right: 15px;
}

.menuButton {
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  min-height: 86vh;
  width: 15%;
  display: none;
  flex-direction: column;
  background: #F0EFEF;
  box-shadow: 3px 0px 5px #ceced2;
}

.dropdown.active {
  display: flex;
}

.dropdown li {
  padding: 15px;
  background: #F0EFEF;
  cursor: pointer;
}

.dropdown li:hover {
  background: #e1e1e6;
}

.dropdown li a {
  color: black;
}

.dropdown li:last-child {
  margin-top: 252px;
}

.navbar a.active { 
  background: #414BB2;
  color: white;
}

.title
{
  font-size: 3rem;
  margin: 2rem 0;
}

.FAQ
{
  max-width: 700px;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}

.question
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(45, 45, 46);
  color: white;
  padding: 10px;
  box-shadow: 2px 2px 3px #141417;
}

.question h3
{
  font-size: 1.8rem;
}

.answer
{
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}

.answer p
{
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.4rem;
}

.FAQ.active .answer
{
  max-height: 300px;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 12px;
}

.footer a {
  color: white;
  margin: 0 10px;
}

/* ExistingProjectPage CSS Portion */
.ExistingProjectPage-Body{
  background-color: azure;
}

.ExistingProjectPage-Center {
  text-align: center;
  background-color: black;
  width: 1000px;
  height: 400px;
  padding: 20px;
  margin: 100px;
  margin-top: 100px;
  margin-right:100;
  box-shadow: 2px 2px 3px #141417;
}

.ExistingProjectPage-Image {
  float:left;  
  margin: 10px;
  width:200px; 
  height:300px;
  box-shadow: 2px 2px 3px #141417;
}

.ExistingProjectPage-Container {
  float:right;
  background-color: grey;
  width:500px;
  height:350px;
  margin-right:20px;
  margin-top:20px;
  box-shadow: 2px 2px 3px #141417;
}

.ExistingProjectPage-Name {
  float:right;
  background-color: lightgray;
  width:440px;
  height:60px;
  margin-right:30px;
  margin-top:15px;
  font-size:20px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 3px #141417;
}

.ExistingProjectPage-Scroll {
  float:right;
  background-color: lightgray;
  width:430px;
  height:150px;
  line-height:1em;
  overflow:auto;
  padding:5px;
  margin-top:30px;
  margin-right:30px;
  font-size:10px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 3px #141417;
}

.ExistingProjectPage-ButtonContainer {
  float:right;
  display: flex;
  width:50px;
  height:20px;
  margin-top:30px;
  margin-right:240px;
  font-size:10px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 3px #141417;
}

.ExistingProjectPage-Generate-report {
  float:right;
  margin-top:50px;
  margin-right:20px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 3px #141417;
}

/* CreateNewChat CSS Portion */

.CreateNewChat-ProjectChoice {
  float:left;
  background-color: grey;
  width:500px; /*Need to adjust size when proj can run */
  height:350px;
  margin-left:20px; /*Need to adjust location */
  margin-top:20px;
  box-shadow: 2px 2px 3px #141417;
}

.CreatingNewChat-CreateNew> {
  float:left;
  width:50px; /*Need to adjust size when proj can run */
  height:20px;
  margin-top:50px;/*Need to adjust location */
  margin-left:20px;
  box-shadow: 2px 2px 3px #141417;
}

.CreatingNewChat-ImportInfo> { 
  float:left;
  width:50px; /*Need to adjust size when proj can run */
  height:20px;
  margin-top:50px;
  margin-left:20px; /*Need to adjust location */
  box-shadow: 2px 2px 3px #141417;
}

.CreatingNewChat-CreateNewFont> {
  float:left;
  background-color: lightgray;
  width:440px; /*Need to adjust size when proj can run */
  height:60px;
  font-size: 1rem;
  font-family: AutodeskFont;
  margin-top:50px;/*Need to adjust location */
  margin-left:20px;
  box-shadow: 2px 2px 3px #141417;
}

.CreatingNewChat-ImportInfoFont> {
  float:left;
  background-color: lightgray;
  width:440px; /*Need to adjust size when proj can run */
  height:60px;
  font-size: 1rem;
  font-family: AutodeskFont;
  margin-top:50px;/*Need to adjust location */
  margin-right:20px;
  box-shadow: 2px 2px 3px #141417;
}

.CreatingNewChat-Done>{
  float:left;
  margin-top:50px;
  margin-right:20px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 3px #141417;
}

.CreateNewChat-ProjectInfo {
  float:right;
  background-color: grey;
  width:500px; 
  height:350px;
  margin-right:20px;
  margin-top:20px;
  box-shadow: 2px 2px 3px #141417;
}

.CreateNewChat-Name {
  float:right;
  background-color: lightgray;
  width:440px;
  height:60px;
  margin-right:30px;
  margin-top:15px;
  font-size:20px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 3px #141417;
}

.CreateNewChat-Description {
  float:right;
  background-color: lightgray;
  width:440px;
  height:60px;
  margin-right:30px;
  margin-top:15px;
  font-size:20px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 3px #141417;
}

/*Need to somehow using javascript make buttons switch to either image or scroll of previous projects */
.CreatingNewChat-Image {
  float:right;  
  margin: 10px;
  width:200px; 
  height:300px;
  box-shadow: 2px 2px 3px #141417;
}

.CreatingNewChat-PreviousProjects {
  float:right;
  background-color: lightgray;
  width:430px;
  height:150px;
  line-height:1em;
  overflow:auto;
  padding:5px;
  margin-top:30px;
  margin-right:30px;
  font-size:10px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 3px #141417;
}

/*lilys reworked styling for create new chat*/

#create_new_leftdiv{
  float:left;
  width:50%;
  background-color:yellow;
  
}
#create_import{
  background-color:black;
  width:60%;
}

#create_new_rightdiv{
  float:right;
  width:50%;
  background-color:red;
}

#name_description{
  background-color:black;
  width:70%;
}

#choose_project{
  background-color:black;
  width:70%;
  margin-top:10px;
}