@font-face {
  font-family: AutodeskFont;
  src: url(WOFF/ArtifaktElementExtraLight.woff);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: AutodeskFont;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section
{
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  background-color: #414BB2;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-shadow: 3px 0px 5px #141417;
}

.navbar img {
  max-height: 18px;
  padding-left: 15px;
  padding-right: 15px;
}

.menuButton, #fullscreenButton {
  background: none;
  border: none;
  cursor: pointer;
}
.menuButton:hover, #fullscreenButton{
  opacity: 0.8;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  min-height: 86vh;
  width: 15%;
  display: none;
  flex-direction: column;
  background: #F0EFEF;
  box-shadow: 3px 0px 5px #ceced2;
  z-index: 9999;
}

.dropdown.active {
  display: flex;
}

.dropdown li {
  padding: 15px;
  background: #F0EFEF;
  cursor: pointer;
}

.dropdown li:hover {
  background: #e1e1e6;
}

.dropdown li a {
  color: black;
}

.dropdown li:last-child {
  margin-top: 252px;
}

.navbar a.active { 
  background: #414BB2;
  color: white;
}

.title
{
  font-size: 2rem;
  margin-left: 10%;

}


.FAQ
{
  max-width: 700px;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}

.question
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(45, 45, 46);
  color: white;
  padding: 10px;
  box-shadow: 2px 2px 3px #141417;
}

.question h3
{
  font-size: 1.8rem;
}

.answer
{
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}

.answer p
{
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.4rem;
}

.FAQ.active .answer
{
  max-height: 300px;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 12px;
}

.footer a {
  color: white;
  margin: 0 10px;
}
/* Create new chat */
.CNC-LeftContainer-Original{
  display: flex;
  flex-direction: column; 
  align-items:stretch;
  width: 100%; 
  padding: 10px;
  box-shadow: 2px 2px 3px #141417;
  border-radius: 4px;
  border-color: #141417;
}

.CNC-RightContainer-Original {
  display: flex;
  flex-direction: column; 
  align-items:stretch;
  width: 60%; 
  height: 380px;
  padding: 10px;
  box-shadow: 2px 2px 3px #141417;
  border-radius: 4px;
  border-color: #141417;
}
.CNC-LeftContainer-Original * ,
.CNC-RightContainer-Original * {
  width: 100%; 
  box-sizing: border-box; 
}

.CreateNewChat-Column {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}

.CreateNewChat-Center {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  text-align: center;
  background-color: #141417;
  width: 1000px;
  height: 400px;
  margin: 10px auto;
  box-shadow: 2px 2px 3px #141417;
  border-radius: 4px;
  border-color: #141417;
}

.CreateNewChat-Column {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}

.CreateNewChat-Center {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  text-align: center;
  background-color: #141417;
  width: 1000px;
  height: 400px;
  padding: 20px;
  margin: 10px auto;
  box-shadow: 2px 2px 3px #141417;
  border-radius: 4px;
  border-color: #141417;
}

.title-bar {
  margin-top: 22px;
  background-color: #414BB2;
  color: white;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0px;
}

.CreateNewChat-Scroll {
  width: 100%; 
  height: 75%;
  overflow-y: auto;
  float:right;
  margin-top:0px;
  margin-right:30px;
  line-height:1em;
  overflow:auto;
  color: #141417;
  background-color: #F0EFEF;
  padding: 5px 15px;
  text-align: left;
  text-decoration: none;
  font-size: 14px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 2px #141417; 
  border-radius: 4px;
}

.CreateNewChat-Scroll p {
 color: black;
 margin: 10px;
}

/* ExistingProjectPage CSS Portion */

#CP_c_input, #CP_d_input, #CN_c_input, #CN_d_input {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #141417;
}

#CP_d_input, #CN_d_input {
  resize: none;
}

#CP_d_input, #CN_d_input { 
  float:left;
  width: 100%;
  height:200px;
  color: black;
  background-color: lightgray;
  padding: 5px 15px;
  text-align: left;
  text-decoration: none;
  font-size: 13px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 2px #141417; 
  border: none; 
}

#CP_c_input, #CN_c_input {
  float:right;
  background-color: lightgray;
  width: 100%;
  height:45px;
  margin-top:25px;
  color: black;
  background-color: lightgray;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 3px #141417; 
  border: none;
}

.ExistingProjectPage-Center {
  text-align: center;
  background-color: #141417;
  width: 1000px;
  height: 400px;
  padding: 20px;
  margin: 100px;
  margin-top: 100px;
  margin-right:100;
  box-shadow: 2px 2px 3px #141417;
  border-radius: 4px;
  border-color:#141417;
}

#ChooseProject_Done_button,
.import_button {
  flex: 1; 
  padding: 10px 20px;
}

#ChooseProject_Done_button, .import_button {
  float:right;
  display: flex;
  margin-right:30px;
  color: black;
  background-color: lightgray;
  padding: 10px 178px;
  text-align:center;
  text-decoration: none;
  font-size: 14px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 3px #141417; 
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
}

.import_button {
  text-align: center;
}

#CreateNewChat_Done_button:hover, #ChooseProject_Done_button:hover, .import_button:hover{
  background-color: #414BB2;
  color: white;
}

.ExistingProjectPage-Image {
  float:left;
  margin: 10px;
  min-width:400px;
  height:400px;
  box-shadow: 2px 2px 3px #141417;
  border-radius: 4px;
  border-color:#141417;
}

.EP-RightContainer-Original {
  float:right;
  background-color: grey;
  width:550px;
  height:380px;
  margin-right:20px;
  margin-top:10px;
  box-shadow: 2px 2px 3px #141417;
  border-radius: 4px;
  border-color:#141417;
}

.EP-RightContainer-EditVersion{
  float:right;
  background-color: grey;
  width:550px;
  height:380px;
  margin-right:20px;
  margin-top:10px;
  box-shadow: 2px 2px 3px #141417;
  border-radius: 4px;
  border-color:#141417;
}

#EP_N_input {
  float:right;
  background-color: #F0EFEF;
  width:430px;
  height:45px;
  margin-right:30px;
  margin-top:30px;
  color: black;
  background-color: #F0EFEF;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 3px #141417; 
  border-radius: 4px;
}

#EP_Des_input {
  float:left;
  width:205px;
  height:100px;
  margin-top:20px;
  margin-left:30px;
  color: #141417;
  background-color: #F0EFEF;
  padding: 5px 15px;
  text-align: left;
  text-decoration: none;
  font-size: 10px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 2px #141417; 
  border-radius: 4px;
}


#EP_D_input {
  float:left;
  width:205px;
  height:155px;
  margin-top:20px;
  margin-left:30px;
  color: #141417;
  background-color: #F0EFEF;
  padding: 5px 15px;
  text-align: left;
  text-decoration: none;
  font-size: 10px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 2px #141417; 
  border-radius: 4px;
}

.ExistingProjectPage-Scroll {
  float:right;
  width:205px;
  height:160px;
  margin-top:20px;
  margin-right:30px;
  line-height:1em;
  overflow:auto;
  color: #141417;
  background-color: #F0EFEF;
  padding: 5px 15px;
  text-align: left;
  text-decoration: none;
  font-size: 14px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 2px #141417; 
  border-radius: 4px;
}

#ExistingProjectPage-Create-New {
  float:left;
  margin-top:20px;
  margin-left:30px;
  color: #141417;
  background-color: #F0EFEF;
  padding: 10px 65px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 3px #141417; 
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  border-color:#141417;
}

#ExistingProjectPage-Create-New:hover {
  background-color: #414BB2;
  color: white;
  border-radius: 4px;
  border-color:#414BB2;
}

.ExistingProjectPage-ButtonContainer {
  float:right;
  display: flex;
}

.CreateNewChat-ButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px; 
  margin-top: 20px;
  width: 100%;
}

#ExistingProjectPage-Button {
  float:right;
  display: flex;
  margin-top:20px;
  margin-right:30px;
  color: #141417;
  background-color: #F0EFEF;
  padding: 10px 98px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 3px #141417; 
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  border-color:#141417;
}

#ExistingProjectPage-Button:hover {
  background-color: #414BB2;
  color: white;
  border-radius: 4px;
  border-color:#414BB2;
}

#EP-Button-EditVer {
  float:right;
  display: flex;
  margin-top:20px;
  margin-right:30px;
  color: #141417;
  background-color: #F0EFEF;
  padding: 10px 55px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 3px #141417; 
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  border-color:#141417;
}

#EP-Button-EditVer:hover {
  background-color: #414BB2;
  color: white;
  border-radius: 4px;
  border-color:#414BB2;
}

/* Initially hide the delete confirmation box */
#EP-DeleteContainer {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: grey;
  width:550px;
  height:250px;
  transform: translate(-50%, -50%);
  background: #141417;
  padding: 20px;
  box-shadow: 2px 2px 3px #141417;
  border-radius: 4px;
  border-color:#141417;
  z-index: 10;
  transition: opacity 0.5s ease-in-out;
}

/* Blur and fade out other elements */
.DeleteVer-fade-out {
  opacity: 0;
  filter: blur(5px);
  pointer-events: none;
  transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out;
}

/* Make DeleteContainer visible */
.DeleteVer-show-delete {
  display: block !important;
  opacity: 1;
}

#EP-Delete-Question{
  float:right;
  background-color: #F0EFEF;
  width:430px;
  height:65px;
  margin-right:30px;
  margin-top:40px;
  color: black;
  background-color: #F0EFEF;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 3px #141417; 
  border-radius: 4px;
}

#EP-Button-DeleteVer {
  float:right;
  display: flex;
  margin-top:40px;
  margin-right:30px;
  color: #141417;
  background-color: #F0EFEF;
  padding: 15px 105px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 3px #141417; 
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  border-color:#141417;
}

#EP-Button-DeleteVer:hover {
  background-color: #414BB2;
  color: white;
  border-radius: 4px;
  border-color:#414BB2;
}
/* Initially hide the delete confirmation box */
#EP-DeleteChatLog-Container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: grey;
  width:550px;
  height:250px;
  transform: translate(-50%, -50%);
  background: #141417;
  padding: 20px;
  box-shadow: 2px 2px 3px #141417;
  border-radius: 4px;
  border-color:#141417;
  z-index: 10;
  transition: opacity 0.5s ease-in-out;
}

/* Make DeleteContainer visible */
.DeleteVer-show-delete {
  display: block !important;
  opacity: 1;
}

#EP-Delete-Question{
  float:right;
  background-color: #F0EFEF;
  width:430px;
  height:65px;
  margin-right:30px;
  margin-top:40px;
  color: black;
  background-color: #F0EFEF;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 3px #141417; 
  border-radius: 4px;
}

#EP-Button-DeleteVer {
  float:right;
  display: flex;
  margin-top:40px;
  margin-right:30px;
  color: #141417;
  background-color: #F0EFEF;
  padding: 15px 105px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 3px #141417; 
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  border-color:#141417;
}

#EP-Button-DeleteVer:hover {
  background-color: #414BB2;
  color: white;
  border-radius: 4px;
  border-color:#414BB2;
}

.selected {
  background-color: #ffcccb;
  cursor: pointer;
}

.delete-btn {
  margin-left: 10px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  padding: 2px 5px;
}



.DeleteVer-show-delete {
  display: block; /* Adjust as necessary for your layout */
}



/* CreateNewChat CSS Portion */
.NewChatBox-Container {
  display: flex;
  width: 100%;
  background-color: black;
}

#create_new_leftdiv{
  float:left;
  width:50%;
}

#create_ChatboxChoice{
  float:left;
  width:450px;
  height:300px;
  margin-top:100px;
  margin-left:140px;
  color: black;
  background-color: #141417;
  padding: 10px 15px;
  text-align: left;
  text-decoration: none;
  font-size: 6px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 2px #141417; 
  border: none;
}

#CreateNewChat {
  width: 100%;
}

#CreateNewChat-Title {
  float:left;
  background-color: lightgray;
  width:300px;
  height:30px;
  margin-left:45px;
  margin-top:30px;
  color: black;
  background-color: lightgray;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 3px #141417; 
  border: none;
}

#checkbox_container {
  float:left;
  width:50%;
  display: inline-block;
}

#CreateNProj{
  width: 100%;
  display: inline;
  float:left;
  margin-top:40px;
  margin-left:50px;
  color: black;
  background-color: lightgray;
  padding: 10px 65px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 3px #141417; 
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
}

#ImportNProj{
  width: 100%;
  display: inline;
  float:left;
  margin-top:40px;
  margin-left:50px;
  color: black;
  background-color: lightgray;
  padding: 10px 65px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 3px #141417; 
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
}

#checkbox {
  float:left;
  margin-top:70px;
  margin-left:30px;
  color: black;
  background-color: lightgray;
  padding: 10px 65px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 3px #141417; 
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
}

#create_new_rightdiv{
  float:right;
  width:50%;
  margin-bottom: 10%;
}

  #createnew_ChatboxDescription{
  float:right;
  width:450px;
  height:400px;
  margin-top:100px;
  margin-right:140px;
  color: black;
  background-color: #141417;
  padding: 10px 15px;
  text-align: left;
  text-decoration: none;
  font-size: 6px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 2px #141417; 
  border: none;
}

#CN_c_input{
  float:right;
  background-color: lightgray;
  width:100%;
  height:45px;
  margin-top:20px;
  color: black;
  background-color: lightgray;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 3px #141417; 
  border: none;
}

#CN_d_input { 
  float:right;
  width:100%;
  height:200px;
  margin-top:10px;
  color: black;
  background-color: lightgray;
  padding: 5px 15px;
  text-align: left;
  text-decoration: none;
  font-size: 13px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 2px #141417; 
  border: none; 
}

#CreateNewChat_Done_button {
  float:right;
  display: flex;
  color: black;
  background-color: lightgray;
  padding: 10px 148px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 3px #141417; 
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 100%;
}

#CreateNewChat_Done_button:hover {
  background-color: #414BB2;
  color: white;
}

#choose_project{
  float:right;
  width:450px;
  height:400px;
  margin-top:100px;
  margin-right:150px;
  color: black;
  background-color: #141417;
  padding: 10px 15px;
  text-align: left;
  text-decoration: none;
  font-size: 6px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 2px #141417; 
  border: none;
}

#PreviousProjects_scroll {
  float:right;
  width: 150px;
  height:200px;
  margin-top:20px;
  margin-right:30px;
  line-height:1em;
  overflow:auto;
  color: black;
  background-color: lightgray;
  padding: 5px 15px;
  text-align: left;
  text-decoration: none;
  font-size: 10px;
  font-family: AutodeskFont;
  box-shadow: 2px 2px 2px #141417; 
  border: none;
}
#check_top{
  margin-top:150px;
}

h2 {
  margin-left: 10px;
}
.blackbox {
  background-color: black;
  width: 650px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.left-section {
  width: 40%;
  padding: 10px;
  max-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input, textarea {
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  background-color: lightgray;
  font-size: 16px;
}
input::placeholder, textarea::placeholder {
  color: #888;
}
#ChooseProject_Done_button, .import_button {
  width: 100%;
  padding: 10px;
  margin: 5px;
  border: none;
  background-color: lightgray;
  font-size: 16px;
}
.right-section {
  width: 40%;
  padding: 10px;
  max-height: 50%;
}


.blackbox_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: px;
}

.gap {
  padding: 1%;
}